--- 
title: Résumé
id: resume
results:
  sat:
    - ["SAT II: Math Level 2",  "Dec 2008",  "800"]
    - ["SAT II: Physics",       "Dec 2008",  "800"]
    - ["SAT I: Reading",        "Nov 2008",  "760"]
    - ["SAT I: Writing",        "Nov 2008",  "720"]
    - ["SAT I: Math",           "Nov 2008",  "780"]
  a_levels:
    - ["Further Mathematics",  "AS+A2",  "2009",  "A"]
    - ["Biology",              "AS+A2",  "2009",  "A"]
    - ["Mathematics",          "AS+A2",  "2008",  "A"]
    - ["English Literature",   "AS",     "2008",  "A"]
    - ["Physics",              "AS",     "2008",  "A"]
    - ["Spanish",              "AS",     "2007",  "A"]
technologies:
  - ["Python",                          5]
  - ["UNIX (Ubuntu, RHEL,  Mac OS X)",  5]
  - ["Django",                          3]
  - ["JavaScript (incl. jQuery)",       3]
  - ["CSS",                             3]
  - ["Semantic Web",                    2]
  - ["Ruby",                            2]
  - ["Rails",                           2]
  - ["Twitter API",                     2]
  - ["Facebook Social Graph API",       1]
---

%h1 Zachary Voase

%nav#outline
  %ul
    %li.first
      %a{:href => "#info"} Info &amp; Contact
    %li
      %a{:href => "#profile"} Profile
    %li
      %a{:href => "#skills"} Skills
    %li
      %a{:href => "#experience"} Experience
    %li
      %a{:href => "#education"} Education

%hr

%section#info
  %h2 Info

  %table
    %tr
      %th Name
      %td Zachary Voase
    %tr
      %th Location
      %td London, UK
    %tr
      %th Website
      %td
        %a{:href => "http://zacharyvoase.com/"} zacharyvoase.com
    %tr
      %th Code
      %td
        %a{:href => "http://github.com/zacharyvoase"} http://github.com/zacharyvoase

%section#contact
  %h2 Contact

  %table
    %tr
      %th E-mail
      %td
        %a{:href => "mailto:z@zacharyvoase.com"} z@zacharyvoase.com
    %tr
      %th Skype
      %td
        %a{:href => "skype:zvoase?userinfo"} zvoase

%section#profile
  %h2 Profile

  %p.introduction
    I’m a polyglot devigner and generalist, and I’m passionate about creating
    experiences for the Web. I design and build software centered around
    humans, and I can easily adapt to different technologies and working
    environments—in fact, I love it.

  %p
    I started using computers at a young age; the first programming language I
    learned was Scheme, and since then I’ve continuously invested in expanding
    my repertoire. I’ve worked in various scenarios, on both open-source and
    proprietary software, remotely and on-site, and as a contractor and an
    employee. I feel this gives me a solid breadth of experience in interacting
    with people, which is often the most challenging aspect of development.
    I’ve usually acted as developer and system administrator, but have also
    engaged in smaller management, UI/UX and strategic roles.

  %p
    I am an active participant in several open-source communities, and have
    released many pieces of software myself (see
    <a href="http://github.com/zacharyvoase">my GitHub profile</a> for a full
    list). More recently I’ve begun to speak at user groups and conferences,
    and I’ve maintained an active
    <a href="http://blog.zacharyvoase.com/">blog</a> for over 2 years. The
    public scrutiny of OSS has helped me refine my programming and written
    communication practices; as a result of this exposure I’m now more
    disciplined in both my writing and coding overall.

  %section#aspirations
    %h3 Aspirations

    %p There are a few things I’m looking for in my career.

    %dl
      %dt Autonomy
      %dd
        This implies freedom: I need to be able to make decisions about
        my own work, and be involved in the decision-making process on
        projects in general. It therefore also implies trust and
        co-operation, which is hard to get from paranoid managers and
        organisations. I’m not a control freak, but I am allergic to
        inbox-driven development. I can come up with creative solutions to
        problems when I have the freedom to do so.

      %dt Growth
      %dd
        I have a persistent thirst for challenge, and get bored soon if I’m
        not improving myself. This means constantly evaluating the latest
        techniques and technologies to see if I can save time, money or
        effort—and sometimes just for the entertainment value. I actively
        seek opportunities to increase my impact through more significant
        roles and responsibilities.

      %dt Interaction
      %dd
        I believe people are the most important aspect of software
        development—not only users, who drive the business requirements, but
        colleagues, who share the codebase and with whom it’s important to
        have a good working relationship. In open-source software, a strong
        community is essential, since it is composed of both users
        <em>and</em> colleagues. Collaborating with stakeholders on a daily
        basis is how I stay focused and motivated.

  %section#style
    %h3 Style

    %p
      My coding style is quite idiosyncratic. I try, when I can, to adopt the
      idioms of the language I’m programming in, which is a valuable strategy
      to reduce a project’s ‘bus factor’. However, when solving a difficult
      problem, that sometimes isn’t an option. The solution to this must be
      clear documentation and comprehensive tests. I call what I do
      <em>considerate programming</em>: always keeping the other team members
      in mind (even if there aren’t any yet).

    %p
      I am also an outspoken practitioner of the UNIX philosophy. Wherever
      possible, I write small, modular components, with focused
      responsibilities, which operate to standard and universal interfaces.
      This is a battle-tested method of producing quality software which has
      worked for 30 years; the same principles still apply today, and I
      attempt to exercise them whenever I sit at a computer terminal.

    %p
      Process-wise, I adhere to the principles of Agile development in most
      cases. This means human-centric design, working software at every step,
      daily interaction with involved parties, and willingness to adapt. I
      believe that code without tests is essentially broken, as tests are the
      first port of call for quality assurance. I agree with Abelson &amp;
      Sussman on the value of semantics in code: <q>Programs must be written
      for people to read, and only incidentally for machines to execute.</q>

%section#skills
  %h2 Skills

  %p
    Most of my work up to this point has been in <dfn>Python</dfn>, using the
    <dfn>Django</dfn> web framework. I’m also experienced with <dfn>Ruby</dfn>
    and <dfn>Rails</dfn>. I develop exclusively on <dfn>UNIX</dfn> systems, and
    have done so for 5 years now. I use <dfn>Vim</dfn> to write code, and
    <dfn>Git</dfn> to manage it (though I can also use <dfn>Subversion</dfn>
    and <dfn>Mercurial</dfn>).

  %p
    On the front-end, I’m very comfortable with <dfn>JavaScript</dfn>,
    especially with <dfn>jQuery</dfn>, and I can write cross-browser compatible
    <dfn>HTML</dfn> and <dfn>CSS</dfn>. Still, most of my styling is now done
    using <dfn>Sass</dfn> and <dfn>Compass</dfn>.

  %p
    I have a strong understanding of modern <dfn>Web architecture</dfn>,
    including the <dfn>Semantic Web</dfn>, the principles of <dfn>REST</dfn>,
    and <dfn>HTTP</dfn> itself.  I’m familiar with a few common APIs, including
    <dfn>Facebook</dfn>, <dfn>Twitter</dfn> and <dfn>OAuth</dfn>.

  %p
    I’ve developed in <dfn>Agile</dfn> and <dfn>Test-Driven Development</dfn>
    contexts for 2 years.  Each team I’ve worked on has practised it
    differently, with varying elements of <dfn>Scrum</dfn>, <dfn>Extreme
    Programming</dfn> and <dfn>Kanban</dfn>. I take a lot of pride in my
    written and spoken communication skills, and maintain a blog at
    <a href="http://blog.zacharyvoase.com/">blog.zacharyvoase.com</a>.

%section#experience
  %h2 Experience

  %section#technologies
    %h3 Technologies
    %p
      I’m usually very quick to adapt to different technologies and paradigms,
      but these are the ones I’m most comfortable with at the moment:
    %table
      - @item[:technologies].each do |tech|
        %tr
          %th= tech[0]
          %td= "#{tech[1]} year#{"s" if tech[1] != 1}"

  %section#references
    %h3 References
    %p
      In the interest of my clients’ confidentiality, I ask that you
      <a href="#contact">contact me directly</a> for specific information and a
      list of references.

%section#education
  %h2 Education

  %p
    I didn’t go to college or university, but I did graduate from high school
    in the summer of 2009. These were my results:

  %section#sat.results
    %h3 SAT
    %table
      %thead
        %th Test
        %th Date
        %th Score/800
      %tbody
        - @item[:results][:sat].each do |result|
          %tr
            %td= result[0]
            %td= result[1]
            %td= result[2]

  %section#a-levels.results
    %h3 A-Levels
    %table
      %thead
        %th Subject
        %th Level
        %th Year
        %th Grade
      %tbody
        - @item[:results][:a_levels].each do |result|
          %tr
            %td= result[0]
            %td= result[1]
            %td= result[2]
            %td= result[3]

%section#conclusion
  %p
    Interested in hiring me for your next project?<br />
    <a href="mailto:z@zacharyvoase.com">Get in touch</a>.
